<%= form_for :article, url: articles_path do |form| %>
  <div class="field">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </div>

  <div class="field">
    <%= form.label :image_url %><br>
    <%= form.text_area :image_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <% end %>
