<h1><%= @article.title %>
</h1>

<p><%= @article.text %></p>

<p><%= @article.image_url %></p>

<p>
  <strong>Created:</strong>
  <%= @article.created_at %>
</p>

<%= link_to 'All articles', articles_path %>
