<!DOCTYPE html>
<html>
  <head>
    <title>Miranda Elise</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>

    <nav class="navbar fixed-top navbar-expand-lg justify-content-center">
      <%= link_to content_tag(:i, nil, class: 'fas fa-home'), root_path %>
      <%= link_to content_tag(:i, nil, class: 'far fa-user-circle'), simple_pages_about_path %>
      <%= link_to content_tag(:i, nil, class: 'fas fa-at'), simple_pages_contact_path %>
      <%= link_to content_tag(:i, nil, class: 'fab fa-instagram'), "https://www.instagram.com/mirandaeliseblog", :target => "_blank" %>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-3 px-1 text-center" id="sticky-sidebar">
          <%= image_tag("miranda elise.png", class: "img-fluid sidebar-img") %>
          <h4>SKINCARE - MAKEUP - TRAVEL</h4>
          <p>Welcome to my blog! The focus is definitely on skincare, but I also post about makeup and sometimes even travel.</p>
          <p>Click <%= link_to "here", simple_pages_currentroutine_path %> to see my current routine</p>
          <h2>SUBSCRIBE</h2>
          <p>*insert mailing list box here*<p>
          <div>
            <h2>ARCHIVE</h2>
            <p>*insert archive of posts here*</p>
            <p>November 2018+</p>
            <p>October 2018+</p>
            <p>September 2018+</p>
            <p>August 2018+</p>
            <p>etc etc</p>
          </div>
          <div>
            <h2>POPULAR POSTS</h2>
          </div>
          <div>
            <h2>TAGS</h2>
          </div>
        </div>

        <div class="col" id="main">
          <%= yield %>
        </div>
      </div>
    </div>



    <footer class="footer fixed-bottom">
      <div class="container text-center">
        <span>&copy; 2018 Miranda Unwin</span>
      </div>
    </footer>

  </body>
</html>
